html, body {
    background-color: #000; 
    width: 100%;
   
}

#center{
    display: inline-block;
    
}
/* Resmi sola kaydır */

#center img {
    margin-right: 10%;
    margin-left: 20%;
    margin-right: 0px;
    max-width: 100%;
    height: auto;
}

.login{
    margin : 20px;  
    
}
#login_but{
    border-radius: 20px;
    color: white;
    background-color: black;
    border: 2px solid red;
    width: 100%;
}

#exampleInputEmail1{
    width: 200%;
}